/**************************************************************************************
******************                                                   ******************
******************                 Variable                          ******************
******************                                                   ******************
**************************************************************************************/
$colheader: rgb(221, 102, 22);
$h2size:30px;
$main-menu-size:10px;
$itembg:rgb(17, 15, 15);

*{
    margin: 0;
    padding: 0;

}
html{
    scroll-behavior: smooth;
}
/**************************************************************************************
******************                                                   ******************
******************                 HEARDER  customized               ******************
******************                                                   ******************
**************************************************************************************/
header{
    display: flex;
    flex-direction: column;  
    flex-wrap: nowrap;  
    width: 100%;
    height: 50vh;
    margin: 0;
    padding: 0;
    background-image: url(/img/black-white-city.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: -20px 20px 50px; 
    justify-items: center; 
    
    .menu{
        z-index: 1111;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        height: 18vh;
        margin: 0;
        padding: 0;
        background-color: rgba(0, 0, 0, 0.787);
        background-attachment: fixed;
        justify-items: center;
    }
    .logo img{
        width: 80px;
        height: 100px;
        align-items: center;
    }
    .title-name{
        margin-right: 20px;
        color: white;
        font-size: 15px;
        text-transform: uppercase;
        font-family: 'Monoton', cursive;
        font-weight: 400;
        line-height: 80px;
    }
    .menu .link-top{        
        margin: 0;
        position: absolute;
        top: 13vh;
        left: 55%;
        transform: translate(-50%, -50%);  
           
        i{
            text-align: center;
            color: white;
            font-size: 20px;
            padding: 5px;
        }
    }
    nav{
        position: fixed;
        background-color: rgba(16, 17, 17, 0.876);
        margin-top:18vh; 
        width: 50%;
        right: -100%;
        height: 82vh;
        top: 0;
        text-align: center;
        line-height: normal;
        transition: 0.7s;

        ul a{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: white; 
            width: 80%;
            height: 50px;
            font-size: 100%;
            margin: 20px;
            background-color: rgba(67, 100, 35, 0.658);
            border: 1px solid black;
            clip-path: polygon(0 0, 51% 22%, 100% 0, 100% 100%, 51% 74%, 0 100%);
            text-transform: uppercase;     
        }
        ul{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 82vh;

        }
    }  
    .show-btn, .hide-btn{
        transition: 0.4s;
        line-height: 100px;
        cursor: pointer;
    } 
    .show-btn{
        font-size: 40px;        
    }
    .hide-btn{
        position: absolute;
        top: 0vh;
        right: 40px;
        font-size: 40px;
    }
    .menu a:hover,
    .show-btn:hover,
    .hide-bth:hover{
        color: aqua;
    }
    .menu a{
        transition: 0.4s;
    }
    label i{
        color: white;
    }
    #chk{
        position: absolute;
        visibility: hidden;
    }
    #chk:checked ~ nav{
        right: 0;

    }
 
    
    .contaire{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 33vh;
        background-color: rgba(8, 8, 8, 0.582);

        div{
            width: 50%;
            height:32vh; 
            text-align: center;
            
        }
        .premium{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 70px;
        }
        .premium p{
            color: rgb(97, 216, 117);
            text-transform: uppercase;
            font-family: Slabo; 
            font-weight: 900;
            font-size: 70%;
        }
        h4{
            color: white;
            font-size: 30px;
            font-family: Anton;
            letter-spacing: 3px;            
            margin: 0;
        }
        span{
            color: rgb(238, 234, 234);
            text-align: center;
            font-size: 60%;
            margin: 0;
            padding: 0;
            font-family: Slabo;
            text-transform: uppercase;
        }
        p, span{
            margin: 0px;
        }
    }
    .hd-image{
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        .headphone{
            margin-top: 30px;
            width: 100%;
            height: 50vh;
            
        }

    }
}
/**************************************************************************************
******************                                                   ******************
******************                 MAIN  customized                  ******************
******************                                                   ******************
**************************************************************************************/

/*+++++++++++++++++++++++++
+++++ Product section +++++
++++++++++++++++++++++++++*/
.products{
    display: flex;
    margin-top: 50px;
    justify-content: center;
    
    h2{
        font-size: $h2size;
        font-family: 'Faster One', cursive;
    }
}
.products-menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    div:nth-child(even){
        color: aliceblue;
        font-size: $main-menu-size;
        padding: 10px;
        background-color: black;
    }
    .nav-link{
        background-color: green;
    }
    div{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25%;
        color: aliceblue;
        font-size: $main-menu-size;
        padding: 10px;
        background-color: $itembg;
        text-transform: uppercase;
        border: solid 1px rgb(24, 22, 22);
        font-family: 'Anton', sans-serif;
        font-weight: 100;
        letter-spacing: 2px;
        

    }
}
.main-texte{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    justify-content: center;
    p{
        text-align: center;
        font-size: 12px;
        color: rgba(80, 73, 73, 0.918);
    }
}
.button-view{
    display: flex;
    margin-top: 10px;
    justify-content: center;
    button{
        color: $colheader;
        border: 1px solid white;
        background-color: rgb(255, 255, 255);
    }
}
/*+++++++++++++++++++++++++
+++++ About us section ++++
++++++++++++++++++++++++++*/
.section{
    display: flex;
    margin-top: 30px;
    justify-content: center;
    font-size: 30px;
    font-family: 'Faster One', cursive;
}

.about-us{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color:$itembg;
    justify-content: center;
    
    div{
        display: flex;
        flex-direction: column;
        width:33.33% ;
        color: aliceblue;
        align-items: center;
        justify-content: center;
    }
    div:nth-child(even){
        color: aliceblue;
        font-size: $main-menu-size;
        padding: 10px;
        background-color: black;
    }
    div p{
        font-size:$main-menu-size;
        margin: 0;
        text-align: center;
        font-family: 'PT Sans Narrow', sans-serif;
        letter-spacing: 2px;

    }
    div i{
        font-size: 50px;
        margin-bottom: 10px;
        color: rgb(57, 148, 30) ;
    }  
}

/*+++++++++++++++++++++++++
+++++   news  section +++++
++++++++++++++++++++++++++*/
.news-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    div{
        display: flex;
        border: 0.75px solid rgb(192, 187, 187);        
        width: 140px;
        height: 50px;
        justify-content: center;
        margin: 5px;    
    }
    button{
        background-color: white;
        border: none;  
        font-size: $main-menu-size;  
    }
    .firt-btn, .firt-btn button{
        background-color: black;
        color: aliceblue;
    }
}
#carouselExampleControls{
    margin-top: 20px;
    .carousel-item{
        display: flex;
        flex-direction: column;        
    }

}
.carousel-item p{
    margin: 0;
}

/*+++++++++++++++++++++++++
+++++ contact section +++++
+++++++++++++++++++++++++*/
.contact{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-top: 50px;
    background-image: url(/img/5.jpeg);
    background-size: cover;
    width: 100%;
    height: 75vh;
    
    div{
        display: flex;
        flex-direction: column;
        width: 50%;        
        height: 15vh;
        background-color: rgba(19, 46, 1, 0.877);
        border: 0.017px  groove rgba(19, 46, 1, 0.877);
        align-items: center;
        justify-content: center;
        p{
            text-align: center;
            
        }
        h3,p{
            margin: 0;
            color: white;
        }
        span{
            color: white;
            font-family: 'Anton', sans-serif;
            font-weight: 100;
        }
        .small-p{
            font-size: 10px;
        }
        i{
            color: white;
            margin-top: 3px;
            margin-bottom: 3px;
            font-size: 20px;
        }
        
    }
    .big-items{
     align-self: flex-start;
     background-color: rgba(0, 0, 0, 0.842);
     width: 100%;
     height: 45vh;
     img{
         width: 50px;
         height: 50px;
         margin-top: 15px;
         margin-bottom: 7px;
     }
     h3{
         margin-top: 15px;
         font-family: 'Anton', sans-serif;
         font-size: 30px;
     }
     p{
        font-family: 'Rajdhani', sans-serif;
     }
     .small-p{
         font-size: 10px;
     }

    }
    .last-items , .fa-skype , .last-p{
        display: none;
    }
}
/**************************************************************************************
******************                                                   ******************
******************                 footer customized                 ******************
******************                                                   ******************
**************************************************************************************/

footer{
    width: 100%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;

    div{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
    }
    i{
        margin: 7px;
        color: rgb(109, 109, 109);
        font-size: 150%
    }
    a{
        font-size: 80%;
        margin: 5px;
        color: rgb(109, 109, 109);
    }
    p{
        font-size: 90%;
        color: rgb(109, 109, 109);

    }
}

/**************************************************************************************
******************                                                   ******************
******************                 media screen                      ******************
******************                                                   ******************
**************************************************************************************/

// Small devices (landscape phones, 500px and up)
@media screen and (min-width:500px) { 

/*+++++++++++++++++++++++++
+++++     Header      +++++
++++++++++++++++++++++++++*/
    header{
        height: 80vh;
        .contaire{
            height: 62vh;
        }
        .hd-image{

            width: 100%;
            height: 62vh;
            .headphone{
                margin-top: 45vh;
                width: 100%;
                height: 80vh;
                
            }
    
        }
    }
    .menu .link-top{        
        position: absolute;  
        top: 13vh;  
        left: 500%;  
           
        i{
            color: rgb(182, 26, 26);
            font-size: 20px;
            margin: 0;
            padding: 10px;
        }
    }

    .menu .title-name{
        font-size: 30px;
    }
    .menu .logo img{
        width: 100px;
        height: 100px;
        margin-left: 0;
    }

    .contaire {
        .premium{
            h4{
                font-size: 50px;
        
            }

        }
        .premium .lorem{
            font-size: 15px;
        }
        
    }
/*+++++++++++++++++++++++++
+++++      main       +++++
++++++++++++++++++++++++++*/
    .products-menu {
        div , div:nth-child(even){
            height: 150px;
            font-size: 15px;
        }
  
    }
    .about-us div{
        height: 200px;
    }
    .carousel {
        z-index: 999999;
        display: flex !important;
        justify-content: center;
        align-items: center; 
        height: 80vh;
        width:100%;
        .carousel-inner{
            width: 50%;
            height: 80vh;
        }
        .carousel-item img{
            height:100%;
            width: 100%;
        }
    }
   

}


// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) { 

// }



// // Medium devices (tablets, 768px and up)
// @media only screen and (min-width: 764px){
//     .menu .link-top{
//         position: absolute;  
//         top: 13vh;  
                  
//         i{
//             color: rgb(104, 5, 5);
//             font-size: 30px;           
//         }
//     }

// }


// Large devices (desktops, 992px and up)
@media screen and (min-width:900px) {

/*+++++++++++++++++++++++++
+++++     Header      +++++
++++++++++++++++++++++++++*/
    header{
        .title-name{
            display: none;
        }
        nav{
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            background-color: rgba(0, 0, 0, 0);
            margin-top: 20px; 
            width: 50%;
            right: 0;
            height: 100px;
            text-align: center;
            line-height: normal;
            transition: 0.7s;
            ul{
                background-color: none;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 50px;
    
            }
    
            ul a{
                color: white; 
                font-size: 20px;
                margin: 0px;
                background-color: rgba(0, 0, 0, 0);
                border:none;
                clip-path: none;
                font-family: Anton;
                text-transform: uppercase;     
            }


        }  
        .menu a:hover{
            color: green;
            background-color: white;
        }
        .show-btn, .hide-btn{
             display: none;
        } 

        .menu .link-top{  
            position: relative;
            order: 1;      
            margin: 0;
            margin-top: 10px;
            left:0;
            transform: translate(none);  
               
            i{
                text-align: center;
                color: rgb(255, 255, 255);
                font-size: 20px;
                padding: 5px;
            }
        }
    }

/*+++++++++++++++++++++++++
+++++      main       +++++
++++++++++++++++++++++++++*/  
.products-menu{
    div{
        width: 12.5%;
    }
} 
  }



// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { }

