/**************************************************************************************
******************                                                   ******************
******************                 Variable                          ******************
******************                                                   ******************
**************************************************************************************/
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/**************************************************************************************
******************                                                   ******************
******************                 HEARDER  customized               ******************
******************                                                   ******************
**************************************************************************************/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
  height: 50vh;
  margin: 0;
  padding: 0;
  background-image: url(/img/black-white-city.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: -20px 20px 50px;
          box-shadow: -20px 20px 50px;
  justify-items: center;
}

header .menu {
  z-index: 1111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 18vh;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.787);
  background-attachment: fixed;
  justify-items: center;
}

header .logo img {
  width: 80px;
  height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .title-name {
  margin-right: 20px;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  font-family: 'Monoton', cursive;
  font-weight: 400;
  line-height: 80px;
}

header .menu .link-top {
  margin: 0;
  position: absolute;
  top: 13vh;
  left: 55%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

header .menu .link-top i {
  text-align: center;
  color: white;
  font-size: 20px;
  padding: 5px;
}

header nav {
  position: fixed;
  background-color: rgba(16, 17, 17, 0.876);
  margin-top: 18vh;
  width: 50%;
  right: -100%;
  height: 82vh;
  top: 0;
  text-align: center;
  line-height: normal;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

header nav ul a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  width: 80%;
  height: 50px;
  font-size: 100%;
  margin: 20px;
  background-color: rgba(67, 100, 35, 0.658);
  border: 1px solid black;
  -webkit-clip-path: polygon(0 0, 51% 22%, 100% 0, 100% 100%, 51% 74%, 0 100%);
          clip-path: polygon(0 0, 51% 22%, 100% 0, 100% 100%, 51% 74%, 0 100%);
  text-transform: uppercase;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 82vh;
}

header .show-btn, header .hide-btn {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  line-height: 100px;
  cursor: pointer;
}

header .show-btn {
  font-size: 40px;
}

header .hide-btn {
  position: absolute;
  top: 0vh;
  right: 40px;
  font-size: 40px;
}

header .menu a:hover,
header .show-btn:hover,
header .hide-bth:hover {
  color: aqua;
}

header .menu a {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header label i {
  color: white;
}

header #chk {
  position: absolute;
  visibility: hidden;
}

header #chk:checked ~ nav {
  right: 0;
}

header .contaire {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 33vh;
  background-color: rgba(8, 8, 8, 0.582);
}

header .contaire div {
  width: 50%;
  height: 32vh;
  text-align: center;
}

header .contaire .premium {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 7px;
}

header .contaire .premium p {
  color: #61d875;
  text-transform: uppercase;
  font-family: Slabo;
  font-weight: 900;
  font-size: 70%;
}

header .contaire h4 {
  color: white;
  font-size: 30px;
  font-family: Anton;
  letter-spacing: 3px;
  margin: 0;
}

header .contaire span {
  color: #eeeaea;
  text-align: center;
  font-size: 60%;
  margin: 0;
  padding: 0;
  font-family: Slabo;
  text-transform: uppercase;
}

header .contaire p, header .contaire span {
  margin: 0px;
}

header .hd-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .hd-image .headphone {
  margin-top: 30px;
  width: 100%;
  height: 50vh;
}

/**************************************************************************************
******************                                                   ******************
******************                 MAIN  customized                  ******************
******************                                                   ******************
**************************************************************************************/
/*+++++++++++++++++++++++++
+++++ Product section +++++
++++++++++++++++++++++++++*/
.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products h2 {
  font-size: 30px;
  font-family: 'Faster One', cursive;
}

.products-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.products-menu div:nth-child(even) {
  color: aliceblue;
  font-size: 10px;
  padding: 10px;
  background-color: black;
}

.products-menu .nav-link {
  background-color: green;
}

.products-menu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25%;
  color: aliceblue;
  font-size: 10px;
  padding: 10px;
  background-color: #110f0f;
  text-transform: uppercase;
  border: solid 1px #181616;
  font-family: 'Anton', sans-serif;
  font-weight: 100;
  letter-spacing: 2px;
}

.products-menu a:active {
  color: #0aa317;
}

.main-texte {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-texte p {
  text-align: center;
  font-size: 12px;
  color: rgba(80, 73, 73, 0.918);
}

.button-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button-view button {
  color: #dd6616;
  border: 1px solid white;
  background-color: white;
}

/*+++++++++++++++++++++++++
+++++ About us section ++++
++++++++++++++++++++++++++*/
.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 30px;
  font-family: 'Faster One', cursive;
}

.about-us {
  width: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #110f0f;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-us div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 33.33%;
  color: aliceblue;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-us div:nth-child(even) {
  color: aliceblue;
  font-size: 10px;
  padding: 10px;
  background-color: black;
}

.about-us div p {
  font-size: 10px;
  margin: 0;
  text-align: center;
  font-family: 'PT Sans Narrow', sans-serif;
  letter-spacing: 2px;
}

.about-us div i {
  font-size: 50px;
  margin-bottom: 10px;
  color: #39941e;
}

/*+++++++++++++++++++++++++
+++++   news  section +++++
++++++++++++++++++++++++++*/
.news-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.news-btn div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 0.75px solid #c0bbbb;
  width: 140px;
  height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5px;
}

.news-btn button {
  background-color: white;
  border: none;
  font-size: 10px;
}

.news-btn .firt-btn, .news-btn .firt-btn button {
  background-color: black;
  color: aliceblue;
}

#carouselExampleControls {
  margin-top: 20px;
}

#carouselExampleControls .carousel-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.carousel-item p {
  margin: 0;
}

/*+++++++++++++++++++++++++
+++++ contact section +++++
+++++++++++++++++++++++++*/
.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 50px;
  background-image: url(/img/5.jpeg);
  background-size: cover;
  width: 100%;
  height: 75vh;
}

.contact div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  height: 15vh;
  background-color: rgba(19, 46, 1, 0.877);
  border: 0.017px groove rgba(19, 46, 1, 0.877);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact div p {
  text-align: center;
}

.contact div h3, .contact div p {
  margin: 0;
  color: white;
}

.contact div span {
  color: white;
  font-family: 'Anton', sans-serif;
  font-weight: 100;
}

.contact div .small-p {
  font-size: 10px;
}

.contact div i {
  color: white;
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: 20px;
}

.contact .big-items {
  -ms-flex-item-align: start;
      align-self: flex-start;
  background-color: rgba(0, 0, 0, 0.842);
  width: 100%;
  height: 45vh;
}

.contact .big-items img {
  width: 50px;
  height: 50px;
  margin-top: 15px;
  margin-bottom: 7px;
}

.contact .big-items h3 {
  margin-top: 15px;
  font-family: 'Anton', sans-serif;
  font-size: 30px;
}

.contact .big-items p {
  font-family: 'Rajdhani', sans-serif;
}

.contact .big-items .small-p {
  font-size: 10px;
}

.contact .last-items, .contact .fa-skype, .contact .last-p {
  display: none;
}

/**************************************************************************************
******************                                                   ******************
******************                 footer customized                 ******************
******************                                                   ******************
**************************************************************************************/
footer {
  width: 100%;
  height: 25vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
}

footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

footer i {
  margin: 7px;
  color: #6d6d6d;
  font-size: 150%;
}

footer a {
  font-size: 80%;
  margin: 5px;
  color: #6d6d6d;
}

footer p {
  font-size: 90%;
  color: #6d6d6d;
}

/**************************************************************************************
******************                                                   ******************
******************                 media screen                      ******************
******************                                                   ******************
**************************************************************************************/
@media screen and (min-width: 500px) {
  /*+++++++++++++++++++++++++
+++++     Header      +++++
++++++++++++++++++++++++++*/
  header {
    height: 80vh;
  }
  header .contaire {
    height: 62vh;
  }
  header .hd-image {
    width: 100%;
    height: 62vh;
  }
  header .hd-image .headphone {
    margin-top: 45vh;
    width: 100%;
    height: 80vh;
  }
  .menu .link-top {
    position: absolute;
    top: 13vh;
    left: 500%;
  }
  .menu .link-top i {
    color: #b61a1a;
    font-size: 20px;
    margin: 0;
    padding: 10px;
  }
  .menu .title-name {
    font-size: 30px;
  }
  .menu .logo img {
    width: 100px;
    height: 100px;
    margin-left: 0;
  }
  .contaire .premium h4 {
    font-size: 50px;
  }
  .contaire .premium .lorem {
    font-size: 15px;
  }
  /*+++++++++++++++++++++++++
+++++      main       +++++
++++++++++++++++++++++++++*/
  .products-menu div, .products-menu div:nth-child(even) {
    height: 150px;
    font-size: 15px;
  }
  .about-us div {
    height: 200px;
  }
  .cont-carousel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 255, 255, 0.308)), to(rgba(255, 0, 0, 0.287)));
    background-image: linear-gradient(rgba(0, 255, 255, 0.308), rgba(255, 0, 0, 0.287));
    width: 100%;
    height: 50%;
  }
  .carousel {
    z-index: 9999;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50%;
    width: 50%;
  }
  .carousel .carousel-item {
    width: 100%;
  }
}

@media screen and (min-width: 900px) {
  /*+++++++++++++++++++++++++
+++++     Header      +++++
++++++++++++++++++++++++++*/
  header .title-name {
    display: none;
  }
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 20px;
    width: 50%;
    right: 0;
    height: 100px;
    text-align: center;
    line-height: normal;
    -webkit-transition: 0.7s;
    transition: 0.7s;
  }
  header nav ul {
    background-color: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 50px;
  }
  header nav ul a {
    color: white;
    font-size: 20px;
    margin: 0px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    -webkit-clip-path: none;
            clip-path: none;
    font-family: Anton;
    text-transform: uppercase;
  }
  header .menu a:hover {
    color: green;
    background-color: white;
  }
  header .show-btn, header .hide-btn {
    display: none;
  }
  header .menu .link-top {
    position: relative;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0;
    margin-top: 10px;
    left: 0;
    -webkit-transform: translate(none);
            transform: translate(none);
  }
  header .menu .link-top i {
    text-align: center;
    color: white;
    font-size: 20px;
    padding: 5px;
  }
  header .contaire .premium {
    margin-top: 70px;
  }
  /*+++++++++++++++++++++++++
+++++      main       +++++
++++++++++++++++++++++++++*/
  .products-menu div {
    width: 12.5%;
  }
}
/*# sourceMappingURL=style.css.map */